.tree {
  --spacing: 1.5rem;
  --radius: 10px;
  text-align: left;
}

.tree li details {
  display: block;
  position: relative;
  padding-left: calc(2 * var(--spacing) - var(--radius) - 2px);
}

.tree ul {
  margin-left: calc(var(--radius) - var(--spacing));
  padding-left: 0;
}

.tree ul li details {
  border-left: 2px solid 
}

.tree ul li details::before  {
  content: '';
  display: block;
  left: -2px;
  position: absolute;
  top: calc(var(--spacing) / -3);
  left: -2px;
  width: calc(var(--spacing) - 2px);
  height: calc(var(--spacing) - 4px);
  border: solid white;
  border-width: 0 0 2px 2px;
}

.tree ul li:last-child details:last-child {
  border-color: transparent;
}

.tree ul li::before  {
  content: '';
  display: block;
  position: absolute;
  top: calc(var(--spacing) / -2);
  left: -2px;
  width: calc(var(--spacing) + 2px);
  height: calc(var(--spacing) + 1px);
  border: solid white;
  border-width: 0 0 2px 2px;
}

.tree summary {
  display: block;
  cursor: pointer;
}

.tree summary::marker,
.tree summary::-webkit-details-marker {
  display: none;
}

.tree summary:focus {
  outline: none;
}

.tree summary:focus-visible {
  outline: 1px dotted #000;
}

.tree li::after,
.tree summary::before {
  content: '';
  display: block;
  position: absolute;
  top: calc(var(--spacing) / 2 - var(--radius));
  left: calc(var(--spacing) - var(--radius) - 1px);
  width: calc(2 * var(--radius));
  height: calc(2 * var(--radius));
  border-radius: 50%;
}

.tree summary::before {
  z-index: 1;
  background: #696 url('../assets/images/expand-collapse.svg') 0 0;
}

.tree summary summary::before {
  z-index: 1;
  background: #696 url('../assets/images/expand-collapse.svg') 0 0;
}

.tree details[open] > summary::before {
  background-position: calc(-2 * var(--radius)) 0;
}

.styled-table {
    border-collapse: collapse;
    margin: 10px 0 10px 0;
    font-size: 1.1em;
    font-family: sans-serif;
    min-width: 200px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.styled-table thead tr {
    background-color: #005050;
    color: #ffffff;
    text-align: left;
}

.styled-table th,
.styled-table td {
    padding: 12px 15px;
}

.styled-table tbody tr {
    border-bottom: 1px solid white;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #005050;
}

.styled-table tbody tr.active-row {
    font-weight: bold;
    color: #009879;
}

.table_description_list {
    display: flex;
    align-items: flex-start;
    gap: 20px;
}

.list {
    border: 1px solid #ccc;
    padding: 10px;
    min-width: 400px;
}

.right_list {
    border: 1px solid #ccc;
    padding: 10px;
    min-width: 1200px;
}

.h3_table_header {
    text-align: left;
}

.form_label {
  font-size: 1.3em;
  font-family: sans-serif;
}

.form_select {
  margin: 1rem;
  padding: 0.5ch;
  font-size: 1.3em;
  font-family: sans-serif;
}
.radio_buttons {
  background-color: #ffffff;
  margin-right: 10px;
  margin-left: -5px;
}

table {
  /* border: 1px solid white; */
  text-align: left;
}
th {
  border: 1px solid white;
}
td {
  border-left: 1px solid white;
  border-right: 1px solid white;
  border-bottom: 1px solid white;
  text-align: left;

}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin: 5px 0;
}

.actions {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

button {
    padding: 5px 10px;
    cursor: pointer;
}

button:disabled {
    cursor: not-allowed;
    opacity: 0.5;
}

.action-button {
    margin-top: 20px;
}
